In [1]:
import pandas as pd

In [6]:
cd ml-20m/

C:\Users\Tabish\python\ml-20m

In [7]:
pwd

'C:\\Users\\Tabish\\python\\ml-20m'

In [8]:
ls

 Volume in drive C has no label.
 Volume Serial Number is AAFD-703A

 Directory of C:\Users\Tabish\python\ml-20m

10/17/2016  10:12 AM    <DIR>          .
10/17/2016  10:12 AM    <DIR>          ..
10/17/2016  09:41 AM       323,544,381 genome-scores.csv
10/17/2016  09:41 AM            18,103 genome-tags.csv
10/17/2016  09:50 AM           570,090 links.csv
03/31/2015  04:17 PM         1,397,542 movies.csv
03/31/2015  04:14 PM       533,444,411 ratings.csv
10/17/2016  10:21 AM            10,261 README.txt
03/31/2015  04:01 PM        16,603,996 tags.csv
               7 File(s)    875,588,784 bytes
               2 Dir(s)  59,715,956,736 bytes free

In [9]:
movies = pd.read_csv('./movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [10]:
tags = pd.read_csv('./tags.csv')
tags.head()

   userId  movieId            tag   timestamp
0      18     4141    Mark Waters  1240597180
1      65      208      dark hero  1368150078
2      65      353      dark hero  1368150079
3      65      521  noir thriller  1368149983
4      65      592      dark hero  1368150078

In [11]:
ratings.index

NameError: name 'ratings' is not defined

In [16]:
ratings.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [18]:
ratings.size

80001052

<h1 style="font-size:2em;color:#2467C0">Descriptive Statistics</h1>

Let's look how the ratings are distributed!

In [12]:
tags.columns

Index(['userId', 'movieId', 'tag', 'timestamp'], dtype='object')

In [13]:
tags.size

1862256

In [14]:
tags['tag'].describe() # it describe the number of rows with tags only

count     465548
unique     38643
top       sci-fi
freq        3384
Name: tag, dtype: object

In [15]:
tags.describe()

              userId        movieId     timestamp
count  465564.000000  465564.000000  4.655640e+05
mean    68712.354263   32627.762920  1.298711e+09
std     41877.674053   36080.241157  7.920891e+07
min        18.000000       1.000000  1.135429e+09
25%     28780.000000    2571.000000  1.245007e+09
50%     70201.000000    7373.000000  1.302291e+09
75%    107322.000000   62235.000000  1.366218e+09
max    138472.000000  131258.000000  1.427771e+09

In [16]:
tags.corr()

             userId   movieId  timestamp
userId     1.000000 -0.006086   0.024629
movieId   -0.006086  1.000000   0.359415
timestamp  0.024629  0.359415   1.000000

In [17]:
tags.head()

   userId  movieId            tag   timestamp
0      18     4141    Mark Waters  1240597180
1      65      208      dark hero  1368150078
2      65      353      dark hero  1368150079
3      65      521  noir thriller  1368149983
4      65      592      dark hero  1368150078

In [51]:
filter_1 = tags['movieId'] < 2
filter_1.any()     #give true and false values

False

In [57]:
filter_2 = tags['movieId'] > 0
filter_2.all()

True

<h1 style="font-size:2em;color:#2467C0">Data Cleaning</h1>

In [60]:
movies.shape # it gives the number of rows and column

(27278, 3)

In [61]:
# is any row has null value
movies.isnull().any() #it print false so no null values

movieId    False
title      False
genres     False
dtype: bool

In [62]:
tags.shapes

(465564, 4)

In [63]:
tags.isnull().any()

userId       False
movieId      False
tag          False
timestamp    False
dtype: bool

In [ ]:
# to remove null feilds with using row and column axis. 0 for row and 1 for column
tags = tags.dropna()

In [72]:
ls

 Volume in drive C has no label.
 Volume Serial Number is AAFD-703A

 Directory of C:\Users\Tabish\python\ml-20m

10/17/2016  10:12 AM    <DIR>          .
10/17/2016  10:12 AM    <DIR>          ..
10/17/2016  09:41 AM       323,544,381 genome-scores.csv
10/17/2016  09:41 AM            18,103 genome-tags.csv
10/17/2016  09:50 AM           570,090 links.csv
03/31/2015  04:17 PM         1,397,542 movies.csv
03/31/2015  04:14 PM       533,444,411 ratings.csv
10/17/2016  10:21 AM            10,261 README.txt
03/31/2015  04:01 PM        16,603,996 tags.csv
               7 File(s)    875,588,784 bytes
               2 Dir(s)  59,565,076,480 bytes free

In [ ]:

ratings = pd.read_csv('./ratings.csv')

In [ ]:
ratings.column