In [1]:
!pwd

'pwd' is not recognized as an internal or external command,
operable program or batch file.

In [2]:
!ls

'ls' is not recognized as an internal or external command,
operable program or batch file.

In [1]:
ls

 Volume in drive C has no label.
 Volume Serial Number is AAFD-703A

 Directory of C:\Users\Tabish\python

02/15/2019  03:35 PM    <DIR>          .
02/15/2019  03:35 PM    <DIR>          ..
02/14/2019  01:05 PM    <DIR>          .ipynb_checkpoints
02/12/2019  01:58 AM            42,132 03_Numpy_Notebook.ipynb
02/12/2019  01:51 AM               144 an_array.npy
02/06/2019  01:25 AM             3,848 circle.png
01/16/2019  01:27 AM             2,729 datetime.ipynb
01/16/2019  11:45 PM             2,070 intro1.ipynb
02/14/2019  01:03 AM            57,390 Introduction to Pandas.ipynb
01/23/2019  01:35 AM             9,732 jupyter_with_unix.ipynb
01/17/2019  01:06 AM             1,252 markdown.ipynb
10/17/2016  10:12 AM    <DIR>          ml-20m
02/14/2019  01:12 PM    <DIR>          movielens
02/15/2019  03:35 PM            12,553 Movies_data_analysis.ipynb
01/24/2019  02:15 AM             5,024 nd_array_datatype.ipynb
01/24/2019  01:54 AM             5,875 nd_array_indexing.ipynb
01/26/2019  01:52 AM            21,803 notebook.tex
01/23/2019  02:34 PM             6,071 numpy_basics.ipynb
02/04/2019  01:41 AM             3,270 numpy_broadcasting.ipynb
02/04/2019  01:43 AM               669 numpy_speedtest_ndarray_vs_list.ipynb
01/26/2019  02:30 AM             6,916 numpy_statistical_method.ipynb
01/21/2019  01:19 AM             1,036 pipes_and_filtering.ipynb
02/07/2019  02:03 AM         5,191,446 Satelite_example.ipynb
02/07/2019  01:37 AM            25,430 Satelite_example2.ipynb
02/10/2019  02:25 AM         4,980,484 satelite_exampleB.ipynb
02/12/2019  02:01 AM         2,878,598 Satellite Image Analysis using numpy.ipynb
01/21/2019  01:22 AM             2,435 unix_commands.ipynb
01/20/2019  01:42 AM             1,477 unix_redirection_command.ipynb
02/04/2019  03:04 PM         1,343,212 wifire.jpg
              24 File(s)     14,605,596 bytes
               5 Dir(s)  59,459,035,136 bytes free

In [2]:
pwd

'C:\\Users\\Tabish\\python'

In [3]:
cd ml-20m/

C:\Users\Tabish\python\ml-20m

In [4]:
pwd

'C:\\Users\\Tabish\\python\\ml-20m'

In [5]:
ls

 Volume in drive C has no label.
 Volume Serial Number is AAFD-703A

 Directory of C:\Users\Tabish\python\ml-20m

10/17/2016  10:12 AM    <DIR>          .
10/17/2016  10:12 AM    <DIR>          ..
10/17/2016  09:41 AM       323,544,381 genome-scores.csv
10/17/2016  09:41 AM            18,103 genome-tags.csv
10/17/2016  09:50 AM           570,090 links.csv
03/31/2015  04:17 PM         1,397,542 movies.csv
03/31/2015  04:14 PM       533,444,411 ratings.csv
10/17/2016  10:21 AM            10,261 README.txt
03/31/2015  04:01 PM        16,603,996 tags.csv
               7 File(s)    875,588,784 bytes
               2 Dir(s)  60,306,169,856 bytes free

In [6]:
import pandas as pd

<p style="font-family: Arial; font-size:1.75em;color:#2462C0; font-style:bold">
Use Pandas to Read the Dataset<br>
</p>
<br>
In this notebook, we will be using three CSV files:
* **ratings.csv :** *userId*,*movieId*,*rating*, *timestamp*
* **tags.csv :** *userId*,*movieId*, *tag*, *timestamp*
* **movies.csv :** *movieId*, *title*, *genres* <br>

Using the *read_csv* function in pandas, we will ingest these three files.

In [7]:
movies = pd.read_csv('./movies.csv',sep = ',')
print(type(movies))
movies.head()

<class 'pandas.core.frame.DataFrame'>

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [8]:
#
tags = pd.read_csv('./tags.csv',sep = ',')
tags.head()

   userId  movieId            tag   timestamp
0      18     4141    Mark Waters  1240597180
1      65      208      dark hero  1368150078
2      65      353      dark hero  1368150079
3      65      521  noir thriller  1368149983
4      65      592      dark hero  1368150078

In [ ]:
import pandas as pd
rating = pd.read_csv('./ratings.csv',sep = ',',parse_dates = ['timestamp'])
rating.head()

In [13]:
del tags['timestamp']
tags.head()

   userId  movieId            tag
0      18     4141    Mark Waters
1      65      208      dark hero
2      65      353      dark hero
3      65      521  noir thriller
4      65      592      dark hero

<h1 style="font-size:2em;color:#2467C0">Data Structures </h1>

<h1 style="font-size:1.5em;color:#2467C0">Series</h1>

In [14]:
#extract 0th row
row_0 = tags.iloc[0]
type(row_0)

pandas.core.series.Series

In [15]:
row_0

userId              18
movieId           4141
tag        Mark Waters
Name: 0, dtype: object

In [17]:
row_0.index

Index(['userId', 'movieId', 'tag'], dtype='object')

In [18]:
row_0['userId']

18

In [19]:
row_0.name

0

In [20]:
row_0 = row_0.rename('first_row')
row_0.name

'first_row'

<h1 style="font-size:1.5em;color:#2467C0">DataFrames </h1>

In [21]:
tags.head()

   userId  movieId            tag
0      18     4141    Mark Waters
1      65      208      dark hero
2      65      353      dark hero
3      65      521  noir thriller
4      65      592      dark hero

In [22]:
tags.index

RangeIndex(start=0, stop=465564, step=1)

In [23]:
tags.columns

Index(['userId', 'movieId', 'tag'], dtype='object')

In [28]:
tags.iloc[[0,11,6000]]

      userId  movieId            tag
0         18     4141    Mark Waters
11        65     1783  noir thriller
6000    1741     2087      Peter Pan

In [1]:
rating = pd.read_csv('./ratings.csv',sep = ',')
rating.head()

NameError: name 'pd' is not defined